body {
    font-family: "Muli", sans-serif;
    background-color: #EAEAE8   ;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: rgb(241, 241, 241);
    /* border: 5px solid blue; */
}
.header-left,
.header-middle,
.header-right {
    /* border: 3px solid red; */
    height: 100%;
    width: 33%;
    align-items: center;

}
.header-left {
    display: flex;
    justify-content: space-evenly;
}

.header-right {
    display: flex;
    justify-content: flex-end;
}
.header-right > div {
    margin-right: 2rem;
}
.header-middle > {
    display: flex;
    justify-content: center;
}
.h1 {
    font-size: 3em;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
#logo:hover {
    position: relative;
    top: +10px;
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {
    display: block;
}
.index-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.index-right {
    flex: 2;
}
.index-left {
    flex: 1;
}
.my-slides {
    width: 100%;
    display: none;
}

.btn {
    display: block;
    width: 150px;
    background-color:#28A5BD /*#1b6e7e*/;
    color: #fff;
    padding: 1rem;  
    font-size: 1rem;
    border: none;
}

.mc-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    padding-top: 30px;
    padding-bottom: 50px;
    border: red solid 1px;
}
.mc-item {
    border: solid green 1px;
}
.mc-item img {
    width: 50%;
    margin-left: 25%;
    overflow: hidden;
}
.img-container {
    border: chocolate solid 4px;
}
.mc-item p {
    display: flex;
    justify-content: center;
}
/* .img-container {
display: flex;
align-items: flex-end;
border: purple solid 3px;
height: 100%;
overflow: hidden;
margin-top: -50px; */
/* .mc-item img:hover {
overflow: visible;
position: relative;
bottom: +22%;
} */
.third {
    display: flex;
    justify-content: space-evenly;
}
.third h3 {
    color: grey;
    font-size: 2rem;
}

.third-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-container {
    border: red solid 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card {
    border: rgb(204, 204, 204) solid 2px;
    width: 20%;
    background-color: #eaeae8;
    margin-top: 30px;
    padding: 20px 10px 0 10px;
}
.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
.card p {
    opacity: .6;
}
.card-description {
    font-size: .87rem;
}
.card-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.2;
}
.card-dimensions, .card-price {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.card-left {
    font-size: .7rem;
}
.card-dimensions .card-right, .card-price .card-right {
    opacity: unset;
}
.card-price .card-right {
    font-weight: bold;
}
.card-order {
    font-weight: bold;
    color: #28A5BD;
}
.card img {
    width: 100%;
}